{% extends "FOSUserBundle::layout-internal.html.twig" %}

{% block fos_user_content %}
<div id="view-header">
	<h1>Edit Profile</h1>
</div>
<br class="float-fix">
<section id="view-section">
	{% for flashMessage in app.session.flashbag.get('notice') %}
		<div class="flash-notice">
			{{ flashMessage }}
		</div>
		<br>
	{% endfor %}
	<div class="form-wrapper">{% include "FOSUserBundle:Profile:edit_content.html.twig" %}</div>	
</section>
<section id="back">
	<p><a href="{{ path('game_home')}}" class="btn btn-default">Back to games</a></p>
</section>
{% endblock fos_user_content %}
