php:
    - 5.5
    - 5.6

before_script:
  - cp app/config/parameters.yml.dist app/config/parameters.yml
  - composer install

script:
  - phpunit -c app

notifications:
  email:
    -  lawson_richard@hotmail.com 
