<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Flip Shark - The Multiplayer Heads And Tails Coin Flip Game{% endblock %}</title>
        {% block stylesheets %}
        	<link href='https://fonts.googleapis.com/css?family=Questrial' rel='stylesheet' type='text/css'>
        	<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
        	<link href='https://fonts.googleapis.com/css?family=Marck+Script' rel='stylesheet' type='text/css'>
        	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
      		{% stylesheets 
      			'css/main.css'
      			'css/table.css' 
      			'css/forms.css' 
      			'css/typography.css' 
      			filter='cssrewrite' %}
		        <link rel="stylesheet" href="{{ asset_url }}" />
		    {% endstylesheets %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}
        	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
        {% endblock %}
    </body>
</html>
