{% extends 'base.html.twig' %}

{% block body %}
    <h1>Coin Flip</h1>
    <p><a href="{{ path('fos_user_security_login') }}">Login</a></p>
    <p><a href="{{ path('fos_user_registration_register') }}">Join</a></p>
{% endblock %}
