{% extends 'base.html.twig' %}

{% block body %}
	<header id="page-header-outer">
		<div class="pagewrap">
			<h1>FlipShark</h1>
			<nav id="login">
				<a href="{{ path('fos_user_security_login') }}">Login</a>
			</nav>
		</div>
	</header>
    {% block content %}{% endblock %}
    <footer id="page-footer">
   		<div class="pagewrap">
    		<p>FlipShark ©{{ 'now'|date('Y') }}</p>
    	</div>
    </footer>
{% endblock %}
{% block javascripts %}
	{{ parent() }}
{% endblock %}