{% extends 'base.html.twig' %}

{% block body %}
	<div id="page-login-container">
	   	<div class="pagewrap-login">
	   		<h1>FlipShark</h1>
	   		{% block fos_user_content %}
	    	{% endblock fos_user_content %}
		</div>
	</div>
{% endblock %}

